p{
    font-family: Poppins;
}
a{
    font-family: Poppins;
    text-decoration: none;
    color: black;
    transition: all 0.15s ease;
}
body{
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}
.github{
    transition: all 0.15s ease;
}
a:visited{
    color: black;
}
a:hover, .github:hover{
    opacity: 0.5;
    font-size: 20px;
}
.base{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.container2{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    transition: all 0.15s;
}
.container2:hover{
    background-color: black;
    color: white;
}
.container2:hover .repo{
    color: white;
}
.repo:hover{
    color: white;
    opacity: 1;
    font-size: 16px;
}
.text{
    font-size: 25px;
    font-weight: bold;
}
ul{

    padding: 0
}