.add-to-cart{
    background-color: rgb(255,216,20);
    border: none;
    font-size: 17px;
    padding: 5px 50px 5px 50px;
    border-radius: 50px;
}

.request-now, .schedule-for-later{
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

.schedule-for-later{
    background-color: rgb(230,230,230);
    color: black;
    border: none;

}