body{
    background-color: rgb(19, 19, 19);
    margin: 0;
}
.container_noti{
    position: relative;
}
.reset-message{
    z-index: 100;
    position: absolute;
    background-color: rgba(0, 0, 0,0.9);
    display: flex;
    flex-direction: column;
    align-content: center;
    vertical-align: middle;
    justify-content:center;
    gap: 5px;
    align-items: center;
    left: 0;
    right: 0;
    height: 100vh;
    color: white;
    font-size: 20px;
    font-family: Arial;
    display: none;
}
.container{
    background-color: white;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 40px;
}
.title{
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 20px;
}
.js-button img{
    height: 50px;
}

.js-moves, .js-result, .js-score {
    font-family: Arial;
    font-weight: bold;
}
.js-result{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom:0;
}
.js-moves img{
    height: 25px;
}
.js-score{
    font-size: 12px;
}
.js-button{
    background: transparent;
    height: 120px;
    width: 120px;
    border-style:dashed;
    border-radius: 60px;
    margin-right: 5px;
    cursor: pointer;
}
.js-button:active{
    background-color: rgb(255, 226, 183);
}
.reset-button, .github, .auto-play, .reset-message button{
    font-family: Arial;
    border: none;
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
}
.reset-button:hover, .github:hover, .auto-play:hover ,.reset-message button:hover{
    opacity: 0.9;
}
.reset-message button{
    background-color: white;
    color: black;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.github{
    display: inline-block;
}
a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
.noti{
    opacity: 0;
    background-color: black;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color: red;
    font-family: Arial;
    font-size: 12px;
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%);
}
@media (max-width: 786px){
    .container{
        padding: 40px 20px 40px 20px;
        width: 400px;
    }
    .noti{
        opacity: 0;
        background-color: black;
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 5px;
        color: red;
        font-family: Arial;
        font-size: 12px;
        position: absolute;
        top: 485px;
        left: 50%;
        transform: translate(-50%);
    }
    .reset-message{
        gap: 7px;
        font-size: 18px;
        
    }
}